.country-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.visited{
    background-color: aqua;
}
.visited-flags img{
    width: 100px;
    height: 80px;
    margin: 5px;
}